body {
}
#area {line-height:0; background-color: white;}
#codice {font-family: monospace;}

.legenda {margin-bottom: 1em}
.legenda p {line-height: 22px; height: 22px; width: 44px; display: inline-block; margin: .5em 0;}
.legenda p span.pixel {border: 1px solid gray}

.row {background-color: white}
span.pixel {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-color: #eee;
}
span.pixel.b {background-color:white}
span.pixel.v {background-color:green}
span.pixel.a {background-color:orange}
span.pixel.n {background-color:black}
span.pixel.r {background-color:pink}
span.pixel.m {background-color:brown}
span.pixel.g {background-color:yellow}
span.pixel.c {background-color:lightgreen}
span.pixel.z {background-color:lightblue}
span.pixel.u {background-color:blue}
span.pixel.s {background-color:red}
span.pixel.p {background-color:purple}
span.pixel.f {background-color:magenta}